ллл<nav class="navbar navbar-expand-md fixed-top px-3">
    <a href="/" class="navbar-brand">My Awesome Meme</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav me-auto">
            <a class="nav-link" href="/">Posts</a>
            <a class="nav-link" href="/posts/new">New Post</a>
            <a class="nav-link" href="/posts/random">Random</a>
            <% if(currentUser && currentUser.role == ("admin")) { %>
                <a class="nav-link" href="/tags">Add Tag</a>
            <% } %>
        </div>
        <div class="navbar-nav ms-auto">
            <% if(!currentUser) { %>
                <a class="nav-link" href="/users/login">Login</a>
                <a class="nav-link" href="/users/register">Register</a>
            <% } else { %>
                <a class="nav-link" href="/users/logout">Logout</a>
            <% } %>
        </div>
        <form class="d-flex">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-primary" type="button" id="button-addon2">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</nav>
