<div class="col-md-3">
    <div class="card gedf-card">
        <div class="card-body">
            <h5 class="card-title">Popular</h5>
            <p class="card-text">
            <ul>
                <% for(let pt of popularTags) { %>
                    <li><a href="/<%= pt.url %>"><%= pt.body %></a></li>
                <% } %>
            </ul>
            </p>
        </div>
    </div>
    <div class="card gedf-card">
        <div class="card-body">
            <h5 class="card-title">All Sections</h5>
            <p class="card-text">
            <ul>
                <% for(let tag of tags) { %>
                    <li><a href="/<%= tag.url %>" class="tags"><%= tag.body %></a></li>
                <% } %>
            </ul>
            </p>
        </div>
    </div>
</div>