APP_NAME="My Awesome Meme"
APP_PORT=8030
APP_DEBUG_PORT=9229
SESSION_SECRET=
ADMIN_EMAIL=
APP_DOMAIN=https://myawesome.meme
APP_ENVIRONMENT=production

# Mongo
DB_URL=mongodb://root:xxxx@mongo:27017/myawesomememe
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=
MONGO_PASSWORD=

# Backblaze b2
B2_APPLICATION_KEY_ID=
B2_APPLICATION_KEY=
B2_BUCKET_NAME=my-awesome-meme
B2_ENDPOINT=

# Miracl
MIRACL_SECRET=
MIRACL_CLIENT_ID=
MIRACL_ISSUER_BASE_URL=