* {
    padding: 0;
}

body {
    background-color: #eeeeee;
    padding-top: 4.3rem;
    padding-bottom: 4.3rem;
}

body.page-login main,
body.page-register main,
body.page-login main #content-wrapper,
body.page-register main #content-wrapper,
body.page-login main #content-wrapper > .row,
body.page-register main #content-wrapper > .row {
    height: 100%;
}

body > main {
    height: calc(100% - 50px);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.btn-primary {
    background-color: #7952b3 !important;
    border-color: #7952b3 !important;
}

.btn-primary:hover {
    background-color: #6c459b !important;
    border-color: #6c459b !important;
}

fieldset {
    background-color: white;
    margin: 0;
    padding: 0;
    border: 2px solid #7952b3;
    border-radius: 7px;
}

fieldset p {
    margin: 1em;
}

legend {
    color: white;
    background-color: #7952b3;
    float: right;
    padding: 0.2em 1em;
    width: 30%;
    border-bottom-left-radius: 1em;
    font-size: 1rem;
}

li {
    list-style-type: none;
}

.tag-form {
    display: none;
}

.tag-invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.main-container {
    max-width: 1200px;
}

.fixed-panel {
    top: 60px;
}

.tags {
    font-size: 12px;
}

.tags:hover,
.tags.active {
    background-color: #7952b3;
    color: white;
}

.tags.active {
    border-color: #7952b3;
}

#btn-login-google {
    background-color: #dd4b39;
}

#btn-login-fb {
    background-color: #3b5998;
}

.navbar {
    background-color: #7952b3;
}

.navbar .btn-outline-primary {
    color: #fefeff;
    background-color: #4c2980;
    border-color: #f2f8ff;
}

.navbar-brand,
.navbar .nav-link {
    color: #fff;
}

.nav-link {
    white-space: nowrap;
}

.navbar .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.h7 {
    font-size: 0.8rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}
