<% layout('layout/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Post</h1>
    <div class="col-6 offset-3">
        <form action="/posts" method="POST" novalidate class="form-validation" id="create-form" enctype="multipart/form-data">
            <div class="mb-3">
                <fieldset class="mb-3">
                    <legend><label class="m-0" for="title">Title</label></legend>
                    <div class="m-3">
                        <input class="form-control" type="text" id="title" name="post[title]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Gotta add some title
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="mb-3">
                <fieldset class="mb-3">
                    <legend><label class="m-0" for="image">Input some memes</label></legend>
                    <div class="m-3">
                        <input class="form-control form-control-lg" type="file" id="image" name="image" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Gotta add some image
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="mb-3">
                <div class="tag">
                    <fieldset class="mb-3">
                        <legend><label class="m-0" for="tags">Add some tags to your post</label></legend>
                        <div class="m-3">
                            <select name="post[tags]" class="form-control" id="post-tags" multiple="multiple" required>
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Gotta add some tags
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary btn-lg">Create Post</button>
            </div>
        </form>
    </div>
</div>
